<html>
<head>
    <title>FWI Prediction</title>
</head>
<body>
    <div class="login">
        <h1>FWI Prediction</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict_datapoint') }}" method="post">
            <input type="number" name="temperature" placeholder="temperature" required /><br>
            <input type="number" name="RH" placeholder="RH" required /><br>
            <input type="number" name="Ws" placeholder="Ws" required /><br>
            <input type="number" name="Rain" placeholder="Rain" required /><br>
            <input type="number" name="FFMC" placeholder="FFMC" required /><br>
            <input type="number" name="DMC" placeholder="DMC" required /><br>
            <input type="number" name="DC" placeholder="DC" required /><br>
            <input type="number" name="BUI" placeholder="BUI" required /><br>
            <input type="number" name="ISI" placeholder="ISI" required /><br>
            <input type="number" name="Classes" placeholder="Classes" required /><br>
            <input type="number" name="Region" placeholder="Region" required /><br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        {% if results %}
        <h2>THE FWI prediction is {{ results }}</h2>
        {% endif %}
    </div>
</body>
</html>
